language = "csharp"
run = "mcs -out:main.exe CowSpeak-master/Any.cs CowSpeak-master/ByteArray.cs CowSpeak-master/Conditional.cs CowSpeak-master/Conversion.cs CowSpeak-master/CowSpeak.cs CowSpeak-master/Error.cs CowSpeak-master/Evaluate.cs CowSpeak-master/Function.cs CowSpeak-master/Functions.cs CowSpeak-master/Lexer.cs CowSpeak-master/Line.cs CowSpeak-master/Scope.cs CowSpeak-master/StaticFunction.cs CowSpeak-master/Syntax.cs CowSpeak-master/Token.cs CowSpeak-master/Type.cs CowSpeak-master/UserFunction.cs CowSpeak-master/Utils.cs CowSpeak-master/Definition.cs CowSpeak-master/Variable.cs CowSpeak-master/csharp-CowConfig.cs CowSpeak-master/Executor.cs main.cs ; mono main.exe"